.table-wrapper {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente se necessário */
    width: 100%;
    margin: 20px auto;
  }
  
  .table-container {
    border-collapse: collapse;
    width: 80%; /* Ajuste conforme necessário */
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table-container th {
    background-color: #f2f2f2;
    color: black;
  }
  
  .table-container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-container tr:hover {
    background-color: #f1f1f1;
  }
  
  .table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
  }
  